{
  "LLAMACC_LOCAL_CXX": "/usr/bin/g++",
  "LLAMACC_LOCAL_CC": "/usr/bin/gcc",
  "LLAMACC_BACKEND": "",
  "LLAMACC_BACKEND_IMAGE": "",
  {{ if (and (eq .chezmoi.arch "amd64") (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.versionID "22.04")) -}}
  "LLAMACC_REMOTE_LAMBDA": "gcc-11-2204",
  {{ else if (and (eq .chezmoi.arch "amd64") (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.versionID "24.04")) -}}
  "LLAMACC_REMOTE_LAMBDA": "gcc-13-2404",
  {{- end }}
  "LLAMACC_CONFIGURE_ID": ""
}
