##
#  This will keep from writing Windows files on Linux and vice versa
##

{{ if ne .chezmoi.os "linux" || if eq .chezmoi.os "darwin" }}
**/*.sh
.bashrc
.config/*
.zlogin
.zlogout
.zprezto
.zpreztorc
.zprofile
.zshenv
.zshrc
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
.vworkstation
{{ end }}

{{ if ne .chezmoi.os "windows" }}
**/*.bat
**/*.ps1
Documents
{{ end }}
