##
#  This will keep from writing Windows files on Linux and vice versa
##

{{ if ne .chezmoi.os "linux" }}
**/*.sh
.bashrc
.config/*
.splcore-build-vars
.vworkstation
.zlogin
.zlogout
.zprezto
.zpreztorc
.zprofile
.zshenv
.zshrc
{{ end }}

{{ if ne .chezmoi.os "windows" }}
**/*.bat
**/*.ps1
Documents
{{ end }}
