set -g @resurrect-dir '~/.tmux/resurrect'
set -g status-right 'Continuum status: #{continuum_status}'
set -g @resurrect-capture-pane-contents 'on'
set -g @continuum-restore 'on'
set -g @continuum-save-interval '15'

run-shell /opt/local_dev_tools/tmux-resurrect/resurrect.tmux
run-shell /opt/local_dev_tools/tmux-continuum/continuum.tmux